html
{
    height: 100%;
    width: 100%;
    margin: 0px;
    
}

.light_mode 
{
    color: rgb(96, 96, 96);
    background-color: rgb(248, 248, 248);
    font-family: "Times New Roman", Times, serif;
}

body.light_mode
{
    width: 100%;
    min-height: 100%;
    margin: 0px;
}

.light_mode a
{
    color: rgb(96, 96, 96);
}

.light_mode a:visited
{
    color: rgb(96, 96, 96);
}

.light_mode a:hover
{
    color: rgb(96, 96, 96);
}

.light_mode a:active
{
    color: rgb(96, 96, 96);
}

.light_mode .navbar
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    background-color: rgb(173, 173, 238);
}

.light_mode .navbar > a
{
    text-decoration: none;
}

.light_mode .navbar > a > div
{
    text-decoration: none;
    text-align: center;
    min-width: 200px;
    background-color: rgb(173, 173, 238);
    color: rgb(55, 55, 55);
    font-size: 25px;
    margin: 0px;
    line-height: 50px;
}

.light_mode .navbar > a:hover > div
{
    background-color: rgb(136, 136, 210);
}

.light_mode .navbar > img
{
    height: 50px;
    max-width: 50px;
    display: block;
    background-color: rgb(173, 173, 238);
}

.light_mode .navbar > img:hover
{
    background-color: rgb(136, 136, 210);
}

.dark_mode
{
    color:rgb(240, 240, 240);
    background-color: rgb(55, 55, 55);
    font-family: "Times New Roman", Times, serif;
}

body.dark_mode
{
    width: 100%;
    min-height: 100%;
    margin: 0px;
}

.dark_mode a
{
    color:rgb(240, 240, 240);
}

.dark_mode a:visited
{
    color:rgb(240, 240, 240);
}

.dark_mode a:hover
{
    color:rgb(240, 240, 240);
}

.dark_mode a:active
{
    color:rgb(240, 240, 240);
}

.dark_mode .navbar
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    background-color: rgb(114, 79, 217);
}

.dark_mode .navbar > a
{
    text-decoration: none;
}

.dark_mode .navbar > a > div
{
    text-decoration: none;
    text-align: center;
    min-width: 200px;
    background-color: rgb(114, 79, 217);
    color: rgb(243, 243, 243);
    font-size: 25px;
    margin: 0px;
    line-height: 50px;
}

.dark_mode .navbar > a:hover > div
{
    background-color: rgb(87, 60, 167);
}

.dark_mode .navbar > img
{
    height: 50px;
    max-width: 50px;
    display: block;
    background-color: rgb(114, 79, 217);
}

.dark_mode .navbar > img:hover
{
    background-color: rgb(87, 60, 167);
}

@media (max-width:1100px) 
{
    .light_mode .navbar
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dark_mode .navbar
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

div.main_content 
{
    max-width: 900px;
    padding: 20px;
    margin: auto;
    font-size: 24px;
}

.main_content > h1
{
    font-size: 55px;
}


.main_content > img
{
    width: 35%;
    min-width: 300px;  
    padding: 5px; 
    margin: auto;
    display: block;
}

img.profile_pic
{
    width: 100%; 
    margin:auto; 
    display: block; 
    padding-top: 5px; 
    padding-bottom: 5px;
}

div.profile
{
    width: 35%;
    min-width: 300px;  
    padding: 5px; 
    margin: auto;
    text-align: center;
}

div.contact
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact > div
{
    width: 12%;
    max-height: 40px;
    padding: 10px;
}

.social_icon
{
    width: 100%;
    max-height: 40px;
    display: block;
}

.social_icon:hover
{
    transform: scale(1.33);
}

div.like_dislike
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    padding: 20px;
}

div.like_dislike_button
{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid grey;
    border-radius: 6px;
}

.light_mode div.clicked.like_dislike_button
{
    border: 2px solid rgb(222, 72, 72);
    background-color: rgba(255, 123, 123, 0.832);
}

.dark_mode div.clicked.like_dislike_button
{
    border: 2px solid rgb(54, 72, 203);
    background-color: rgba(86, 67, 236, 0.694);
}

