html
{
    height: 100%;
    width: 100%;
    margin: 0px;
    
}

.light_mode 
{
    color: rgb(96, 96, 96);
    background-color: rgb(248, 248, 248);
    font-family: "Times New Roman", Times, serif;
}

body.light_mode
{
    width: 100%;
    min-height: 100%;
    margin: 0px;
}

.light_mode .navbar
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    background-color: rgb(173, 173, 238);
}

.light_mode .navbar > a
{
    text-decoration: none;
}

.light_mode .navbar > a > div
{
    text-decoration: none;
    text-align: center;
    min-width: 200px;
    background-color: rgb(173, 173, 238);
    color: rgb(55, 55, 55);
    font-size: 25px;
    margin: 0px;
    line-height: 50px;
}

.light_mode .navbar > a:hover > div
{
    background-color: rgb(136, 136, 210);
}

.light_mode .navbar > img
{
    align-self: flex-end;
    float:right; 
    height: 50px;
    background-color: rgb(173, 173, 238);
}

.light_mode .navbar > img:hover
{
    background-color: rgb(136, 136, 210);
}

.dark_mode
{
    color:rgb(240, 240, 240);
    background-color: rgb(55, 55, 55);
    font-family: "Times New Roman", Times, serif;
}

body.dark_mode
{
    width: 100%;
    min-height: 100%;
    margin: 0px;
}

.dark_mode .navbar
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    background-color: rgb(114, 79, 217);
}


.dark_mode .navbar > a
{
    text-decoration: none;
}

.dark_mode .navbar > a > div
{
    text-decoration: none;
    text-align: center;
    min-width: 200px;
    background-color: rgb(114, 79, 217);
    color: rgb(243, 243, 243);
    font-size: 25px;
    margin: 0px;
    line-height: 50px;
}

.dark_mode .navbar > a:hover > div
{
    background-color: rgb(87, 60, 167);
}

.dark_mode .navbar > img
{
    align-self: flex-end;
    float:right; 
    height: 50px;
    background-color: rgb(114, 79, 217);
}

.dark_mode .navbar > img:hover
{
    background-color: rgb(87, 60, 167);
}

@media (max-width:1100px) 
{
    .light_mode .navbar
    {
        flex-direction: column;
        justify-content: center;
    }

    .dark_mode .navbar
    {
        flex-direction: column;
        justify-content: center;
    }
}